*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# استثناء ملفات PAX الثنائية الاحتكارية - لا ترفع نهائياً لمستودع عام
data/pax-gateway/src/pax/libs/*.jar
